<div class="grid_8">
  <div class="grid_1 alpha">
    <span><%= p.date.strftime('%d') %></span>
    <span><%= p.date.strftime('%b').upcase %></span>
  </div>
  <div class="grid_5"><%= link_to "#{p.name}", delivery_path(p, :farm_id => @farm) %></div>
  <div class="grid_2 omega"><%= pluralize(p.orders.size, "Order" ) %></div>
</div>