<tr>
  <td><%= link_to "#{p.date}", pickup_path(p, :farm_id => @farm) %></td>
  <td><%= link_to "#{p.name}", pickup_path(p, :farm_id => @farm) %></td>
  <td><%= pluralize(p.orders.size, "Order" ) %></td>
</tr>