<div id="" class="grid_8 ">

  <p style="color: green"><%= flash[:notice] %></p>

<h1>Farms:</h1>


<% @farms.each do |farm| %>
  <p><%= link_to farm.name, farm%></p>
<% end %>

<br />

<%= link_to 'New farm', new_farm_path %>
</div>