<div class="grid_12 ">
  <h2 id="page-heading">Farms</h2>

  <p style="color: green"><%= flash[:notice] %></p>

  
  <ul class="menu">
    <% @farms.each do |farm| %>
      <li><%= link_to farm.name, farm%></li>
    <% end %>
  </ul>

</div>