<div class="grid_12" id="site_info">
  <div class="box">
    <p><%= mail_to "csa@soulfoodfarm.com", "Contact the Soul Food Farm CSA" %></p>
    <p>EggBasket by <%= mail_to "kathryn@kathrynaaker.com", "Kathryn Aaker"%></p>
  </div>
</div>