<div class="grid_12" id="site_info">
  <div class="box">
    <% if @farm %>
      <p><%= mail_to @farm.contact_email, "Contact the #{@farm.name} CSA" %></p>
    <% end %>
    <p>EggBasket (BETA) by <%= mail_to "kathryn@kathrynaaker.com", "Kathryn Aaker"%> - hosted on Heroku</p>
  </div>
</div>