<div id="" class="grid_12 ">

<p style="color: green"><%= flash[:notice] %></p>


<h1>Editing pickup</h1>

<%= render :partial => 'pickup_form', :locals => {:button_label => 'Update'} %>


<%= link_to 'Cancel', @farm %>
</div>