<h1>Pickups for <%= @farm.name%></h1>
<% @pickups.each do |pickup| %>

<%= render :partial => "pickup_expanded", :locals => { :pickup => pickup } %>
    
<% end %>



<br />

<%= link_to 'New pickup', new_pickup_path(params[:farm_id => @farm.id]) %>