<div id="" class="grid_12 ">

<p style="color: green"><%= flash[:notice] %></p>


<h1>New pickup</h1>

<%= render :partial => 'pickup_form', :locals => {:button_label => 'Create'} %>


<%= link_to 'Back', pickups_path %>
</div>