body {
  font-family: Helvetica, Arial, Geneva, sans-serif ;
  color: #333333;
}

p {
  font-size: 1.2em;
}

div.box_header {
  background-color: #cccccc;
  padding-left: 8px;
  margin-bottom: 2px;
}
div.box_content {
  background-color: #eaeaea;
  padding: 8px;
}

div.box_header h5 {
  margin-bottom: 0px;
}


table.box_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
}

table.box_table td{
  background-color: #eaeaea;
  height: 50px;
  padding: 8px;
  vertical-align:middle;
}

div.topGutter div {
    height: 30px;
}

div.topSection div {
   height: 100px;
}

div#headerbg {
    background-color: #cccccc;
    height: 130px;
    width: 100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
}

div#header_gutter div{
  height: 20px;
}

div#title {
    position:relative;
    top:50px;
}

h1 {
	font-size: 32px;
}

div#user_nav {
    float: right;
    font-size: 14px;
    position:relative;
    top: 75px;
}

table.simple {
    text-align: center;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
    font-weight: normal;
    font-size: 11px;
    color: #fff;
    width: 100%;
    background-color: #666;
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.simple td {
    background-color: #eeeeee;
    color: #000;
    padding: 4px;
    text-align: left;
    border: 1px #fff solid;
}

table.simple td.hed {
    background-color: #666;
    color: #fff;
    padding: 4px;
    text-align: left;
    border-bottom: 2px #fff solid;
    font-size: 12px;
    font-weight: bold;
}

table.order_form {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.order_form td {
    padding: 4px;
    border: 1px #eee solid;
}

table.order_form td.hed {
    padding: 4px;
    border: 1px #eee solid;
}