body {
	font-size: 13px;
}

.template_code {
  font: 13px Courier, Courier New, Andale Mono, monospace;
}

label.error {
  color: #cc0000;
  font-weight: bold;
}

span.validation-error {
  color: #cc0000;
}

.errorExplanation h4 {
  color: #cc0000;
}

/* override clueTip default bg color */
.cluetip-default #cluetip-outer {
  background-color: #666666;
}

tr.zero_quantity {
  display:none;
}