div.topGutter div {
    height: 30px;
}

div.topSection div {
   height: 100px;
}

h1 {
	font-size: 32px;
}

table.simple
{text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
font-size: 11px;
color: #fff;
width: 280px;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.simple td
{background-color: #eeeeee;
color: #000;
padding: 4px;
text-align: left;
border: 1px #fff solid;}

table.simple td.hed
{background-color: #666;
color: #fff;
padding: 4px;
text-align: left;
border-bottom: 2px #fff solid;
font-size: 12px;
font-weight: bold;}