<div id="" class="grid_12 ">

<p style="color: green"><%= flash[:notice] %></p>

<p><%= link_to "< Back to Farm", @farm %></p>  

<h1>Editing delivery</h1>

<%= render :partial => 'delivery_form', :locals => {:button_label => 'Update', :action => 'edit'} %>


<%= link_to 'Cancel', @farm %>
</div>