<div class="grid_12">
  <h2 id="page-heading">Edit Delivery</h2>
</div>

<div id="" class="grid_12 ">

<p style="color: green"><%= flash[:notice] %></p>

<%= render :partial => 'delivery_form', :locals => {:button_label => 'Update', :action => 'edit'} %>


<%= link_to 'Cancel', @farm %>
</div>