<div id="" class="grid_12 ">

<p style="color: green"><%= flash[:notice] %></p>

<p><%= link_to "< Back to Farm", @farm %></p>

<h1>New delivery</h1>

<%= render :partial => 'delivery_form', :locals => {:button_label => 'Create', :action => 'new'} %>


<%= link_to 'Back', deliveries_path %>
</div>