<div class="errorExplanation" id="errorExplanation">
  <h4>Unable to save order due to <%= pluralize(error_messages.size, 'error') %></h4>
  <b>See below for errors and resubmit to save your order.</b>
  <p>&nbsp;</p><p>&nbsp;</p>
  <!--<ul>-->
  <!--<% for error_message in error_messages %>-->
    <!--<li><%#h error_message %></li>-->
  <!--<% end %>-->
  <!--</ul>-->
</div>