<tr>
  <td><%= link_to "#{o.user.first_name} #{o.user.last_name}", order_path(o)%></td>
  <td><%= o.total_items_quantity %></td>
  <td><%= number_to_currency o.estimated_total %></td>
  <td>$75.49</td>
  <td>AUG09</td>
</tr>