<tr>
  <td><%= link_to "#{o.member.last_name}, #{o.member.first_name}", order_path(o, :farm_id => @farm.id)%></td>
  <td><%= o.total_items_quantity %></td>
  <td><%= o.finalized_total ? number_to_currency(o.finalized_total) : number_to_currency(o.estimated_total) %></td>
  <td>---</td>
  <td>AUG09</td>
</tr>