<h1>Listing stock_items</h1>

<table>
  <tr>
    <th>delivery</th>
    <th>Product</th>
    <th>Max quantity per member</th>
    <th>Quantity available</th>
    <th>Substitutions available</th>
    <th>Notes</th>
  </tr>

<% @stock_items.each do |stock_item| %>
  <%= render :partial => 'stock_item', :locals => {:stock_item => stock_item} %>
<% end %>
</table>

<br />

<%= link_to 'New stock_item', new_stock_item_path %>