<div class="grid_5">
  <h2 id="page-heading">New Member - Confirm</h2>

  <p>Thanks!  We successfully created you a new account with <%= @farm.name %>.</p>

  <p>We just sent you a confirmation email with an activation link.  Please go check your email now
  and follow the link to create a password and access your new account.</p>
</div>